<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form (submit)="onSignup()">
					<label for="chk" aria-hidden="true">Sign up</label>
		<input type="text" name="txt" placeholder="User name" required="" [(ngModel)]="userName">
		<input type="email" name="email" placeholder="Email" required="" [(ngModel)]="email">
		<input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="password">
		<button type="submit">Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Login</button>
				</form>
			</div>
			<div class="login">
				<form (submit)="onLogin()">
				  <label for="chk" aria-hidden="true">Login</label>
				  <input type="email" name="email" placeholder="Email" required="" [(ngModel)]="loginEmail">
				  <input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="loginPassword">
				  <button type="submit">Login</button>
				</form>
			  </div>
	</div>

</body>

