
.banner-section {
    margin-top: 10px;}
    .banner-detail {
        margin-top: 15%;
    }
    .banner-detail h5 {
        font-size: 60px;
        margin-bottom: 15px;
        color: #fdb100;
        font-family :Norican, sans-serif;
        text-align: center;
    
    }
    .banner-detail h1 {
        margin-bottom: 30px;
        font-family :Poppins, sans-serif;
        font-size: 100px;
        color: rgb(255, 217, 0);
        font-weight: bolder;
        line-height: 170px;
        text-align: center;
    }
    .banner-img  {
        margin-top: 30px;
        width: 100%;
        height: auto;
        float: right;
    }
    
    
    
    
    
    
    .afterImg{
        text-align: center;
        font-size: 100px;
        color:black;
    
    }
    /* .title1 ,.titl2{
        font-size: 100px;
    } */
    
    
    
    *{
        font-family: 'Poppins', sans-serif;
         -webkit-user-select: none;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        user-select: none;
    }
    img {
          -webkit-user-drag: none;
          -moz-user-drag: none;
          -o-user-drag: none;
    }
    img {
        pointer-events: none;
    }
    .movie_card{
        padding: 0 !important;
        width: 20rem;
        margin:14px; 
        border-radius: 10px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    }
    .movie_card img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 26rem;
    }
    .movie_info{
        color: #5e5c5c;
    }
    
    .movie_info i{
        font-size: 20px;
    }
    .card-title{
        width: 84%;
        height: 3rem;
        color: rgb(0, 0, 0);
    }
    .play_button{
        background-color: #ff3d49;
           position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        right: 20px;
        bottom: 111px;
        font-size: 27px;
        padding-left: 21px;
        padding-top: 16px;
        color: #FFFFFF;
        cursor: pointer;
    }
    
    .credits{
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        border: 2px solid #8e24aa;
        font-size: 18px;
    }
    .credits .card-body{
        padding: 0;
    }
    .credits p{
        padding-top: 15px;
        padding-left: 18px;
    }
    .credits .card-body i{
        color: #8e24aa;
    }
    /* .container{
        background-image: url(https://img.freepik.com/premium-vector/shopping-pattern-background-design_260839-17.jpg);
    } */
    #div1{
        background-color: rgba(255, 255, 255, 0.849);
    }
    .description{
        color: rgb(0, 0, 0);
    } 
    .tag{
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 500;
        position: absolute;
        top: 10px;
        left: 20px;
        padding: 0 0.4rem;
        color: white;
    }
    
    
    
    
    
    
    
    
    
    
    img {
        max-width: 100%;
        height: 100%;
    }
    
    
    
    h2{
    /*     font-family: "Vidaloka", serif; */
        font-weight: 600 !important;
        line-height: 1.2;
        color: #232324;
          font-size: 36px;
    
    }
    .about-content span {
        position: relative;
        margin-top: 20px;
        padding-bottom: 30px;
        display: block;
    }
    p1 {
      font-family: "Montserrat", sans-serif;
        font-size: 14px;
        color: #8a8a8a;
        line-height: 2;
    }
    
    .m-b-30 {
        margin-bottom: 30px;
    }
    
    
    .section-heading {
        margin-bottom: 50px;
    }
    .section-heading h5 {
        color: #F56960;
        font-size: 15px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 22px;
        text-transform: uppercase;
        display: inline-block;
    }
    .section-heading h2 {
        font-size: 48px;
        font-weight: 900;
        line-height: 1.1;
        text-transform: uppercase;
    }
    
    .title-icon-divider {
        color: #0791BE;
        line-height: 1;
        position: relative;
        margin-top: 25px;
          display: flex;
    
    }
    .title-icon-divider:before, .title-icon-divider:after {
        content: "....";
        display: inline-block;
        font-size: 37px;
        line-height: 0;
        letter-spacing: 3px;
    }
    .title-icon-divider [class*=fa-] {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .title-icon-divider ~ p {
        margin-top: 30px;
    }